/* src/assets/theme.css */

/* 整体背景与文字 */
.app-wrapper.light-theme {
    background-color: #fafafa;
    color: #333;
}

.app-wrapper.dark-theme {
    background-color: #121212;
    color: #f0f0f0;
}

/* 卡片 */
.app-wrapper.light-theme .upload-card,
.app-wrapper.light-theme .table-card {
    background-color: #ffffff !important;
    border: 1px solid #e0e0e0 !important;
    color: #333333;
}

.app-wrapper.dark-theme .upload-card,
.app-wrapper.dark-theme .table-card {
    background-color: #1e1e1e !important;
    border: 1px solid #333333 !important;
    color: #f0f0f0;
}